.dropdown {
    padding-top: var(--dropdown-distance, 1rem);

    display: none;
    visibility: hidden;

    position: absolute;
    z-index: calc(var(--overlay-z-index, 10) - 1);

    &.is-visible {
        display: block;
        visibility: visible;
    }

    // block type dropdown
    &.--type-block {
        position: inherit;
        z-index: inherit;
    }
}
